<mat-toolbar [ngStyle]="{ 'background-color': headerBackgroundColor }">
  <div class="toolbar-container">
    <div class="logo-container">
      <img src="assets/logos/logo.png" alt="" />
    </div>

    <div class="nav-container">
      <div class="nav-item">
        <a href="" class="nav">Products</a>
      </div>
      <div class="nav-item">
        <a href="" class="nav">Solutions</a>
      </div>
      <div class="nav-item">
        <a href="" class="nav">Pricing</a>
      </div>
      <div class="nav-item">
        <button class="btn">Login</button>
      </div>
      <div class="nav-item">
        <button class="btn-filled">Get Started</button>
      </div>
    </div>
  </div>
</mat-toolbar>
