mat-toolbar {
  /* background-color: transparent; */
  position: fixed;
  z-index: 10;
  top: 0;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  margin-left: 3rem;
}

.logo-container img {
  height: 75px;
}

.nav-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font: normal normal normal 25px/34px "Open Sans", sans-serif;
}

.nav {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn,
.btn-filled {
  border-radius: 10px;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  color: #663399;
  font-weight: bold;
}

.btn-filled {
  background: transparent linear-gradient(90deg, #9f62c9 0%, #663399 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}

.btn:active,
.btn-filled:active {
  transform: scale(0.98);
}

.btn:focus,
.btn-filled:focus {
  outline: 0;
  background-color: #663399;
}

.btn:hover,
.btn-filled:hover {
  background-color: #663399;
  color: #fff;
}

.nav:hover {
  color: #9f68e0;
}
