/* .dashboard-container {
  height: 100%;
  background: url("/assets/background/blob-small.svg"),
    url("/assets/background/circle.svg"),
    url("/assets/background/sol_wave_bg.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 1183px, 571px;
  background-position: 852px -227.9068603515625px, -179px, 213px;
} */
