.main {
  background-image: url("/assets/background/blob-small.svg"),
    url("/assets/background/circle.svg"),
    url("/assets/background/accounting_dots.svg"),
    url("/assets/background/accounting_dots.svg");
  background-position: -35% 9%, 450% -150%, 90% 45%, 19% 32%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
