.main {
  margin: 5rem 4rem 4rem 4rem;
}

.upper-container {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.left-content-text {
  margin-left: 3rem;
}

.left-content-text img {
  width: 25vw;
}

.line {
  margin-bottom: 5rem;
  border-top: 6px solid black;
  width: 15vw;
  border-radius: 50px;
}

.collect-img {
  width: 35vw;
}
