<main class="main">
  <section class="upper-container">
    <div class="left-content">
      <div class="left-content-text">
        <img src="assets/text/wmiss.svg" alt="" />
        <div class="line"></div>
      </div>
      <div>
        <img
          class="collect-img"
          src="assets/images/collect_img-video.png"
          alt=""
        />
      </div>
      <!-- <div>
        <img src="assets/background/blob-small.svg" alt="" />
      </div> -->
    </div>
    <div class="right-content">
      <!-- Eligibilty Calculator Component -->
      <app-eligibility-calculator></app-eligibility-calculator>
      <!-- <div>
        <img src="assets/background/circle.svg" alt="" />
      </div> -->
    </div>
  </section>
  <section class="lower-container">
    <div></div>
    <div></div>
  </section>
</main>
