<main class="main">
  <!-- Dashboard Upper Section -->
  <section class="upper-container">
    <div class="left-content">
      <div class="left-content-text">
        <div class="open-account-title">We make it Super Simple</div>
        <div class="line"></div>
      </div>
      <div>
        <img
          class="collect-img"
          src="assets/images/collect_img-video.png"
          alt=""
        />
      </div>
    </div>
    <div class="right-content">
      <!-- Eligibilty Calculator Component -->
      <app-eligibility-calculator></app-eligibility-calculator>
    </div>
  </section>

  <!-- Dashboard Lower Section -->
  <section class="lower-section">
    <div class="lower-container">
      <!-- Lower Section: Cards Container -->
      <div class="cards-container">
        <div class="left-cards">
          <div>
            <mat-card class="lower-card">
              <mat-card-header>
                <div
                  mat-card-avatar
                  class="card-header-image"
                  style="
                    background-image: url('/assets/logos/Get Paid Instantly.png');
                  "
                ></div>
              </mat-card-header>

              <mat-card-title>Quick Cash Dispursement</mat-card-title>
              <mat-card-content class="lower-card-content">
                <p>Get term loans that your business needs within 72 hrs</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card class="lower-card">
              <mat-card-header>
                <div
                  mat-card-avatar
                  class="card-header-image"
                  style="
                    background-image: url('/assets/logos/Low interest rate.png');
                  "
                ></div>
              </mat-card-header>

              <mat-card-title>Low Interest Rate</mat-card-title>
              <mat-card-content class="lower-card-content">
                <p>
                  Achieve your financial goals with an amazing interest rate
                  starting at 13% per annum
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card class="lower-card">
              <mat-card-header>
                <div
                  mat-card-avatar
                  class="card-header-image"
                  style="
                    background-image: url('/assets/logos/Secure Payments.png');
                  "
                ></div>
              </mat-card-header>

              <mat-card-title>Zero Paperwork</mat-card-title>
              <mat-card-content class="lower-card-content">
                <p>
                  Get started instantly by submitting only your basic details &
                  bank statements
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="right-cards">
          <div>
            <mat-card class="lower-card">
              <mat-card-header>
                <div
                  mat-card-avatar
                  style="
                    background-image: url('/assets/logos/freelancer_feature_icon_6@1.5x.png');
                  "
                  class="card-header-image"
                ></div>
              </mat-card-header>

              <mat-card-title>Ace your business finances</mat-card-title>
              <mat-card-content class="lower-card-content">
                <p>
                  Manage banking, accounting & everything in between, on one
                  platform
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card class="lower-card">
              <mat-card-header>
                <div
                  mat-card-avatar
                  style="background-image: url('/assets/logos/Covid.png')"
                  class="card-header-image"
                ></div>
              </mat-card-header>

              <mat-card-title>Loans to fight COVID-19</mat-card-title>
              <mat-card-content class="lower-card-content">
                <p>
                  Zero EMI for first 3 months on Back-to-Business loans of upto
                  1 lakh
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- Lower Section - Open Account  -->
      <div class="open-account-container">
        <div class="open-account-title">Boost your business with Open</div>
        <div class="line3"></div>
        <p>Get your hands on a term loan that’s crafted for your business</p>
      </div>
    </div>
  </section>
</main>
