.main {
  /* background-image: url("/assets/background/blob-small.svg"),
    url("/assets/background/circle.svg"),
    url("/assets/background/accounting_dots.svg"),
    url("/assets/background/accounting_dots.svg");
  background-position: -35% 0%, 450% -150%, 90% 42%, 23% 30%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; */
}

.upper-container {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 4rem 4rem 4rem;
}

.left-content,
.right-content {
  margin-top: 8rem;
}

.left-content-text {
  width: 28vw;
  margin-left: 1.5rem;
}

.left-content-text img {
  width: 25vw;
}

.line {
  margin-bottom: 3rem;
  border-top: 4px solid black;
  width: 236px;
  width: 15vw;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  margin-top: 0.5rem;
}

.collect-img {
  width: 35vw;
}

/* Lower Section CSS */
.lower-section {
  background-image: url("/assets/background/sol_wave_bg.svg");
  background-position: top;
}

.lower-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 92vw;
}

.cards-container {
  display: flex;
  align-items: center;
  margin: 4rem;
}

.lower-card {
  max-width: 400px;
  width: 264px;
  height: 185px;
  box-shadow: 0px 0px 30px #2321321f;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

.lower-card:hover {
  background: transparent url("/assets/background/Rectangle 2.svg") 0% 0%
    no-repeat padding-box;
  background-position: center;
  color: white;
}

.lower-card:hover .lower-card-content p {
  color: white;
}

.lower-card mat-card-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.lower-card-content p {
  font-size: 12px;
  color: grey;
}

.right-cards .lower-card {
  margin-left: 1rem;
}

.card-header-image {
  width: 90px;
  height: 90px;
}

/* Open Account Section Styling */
.open-account-container {
  width: 32vw;
  font-family: "Montserrat", sans-serif;
}

.open-account-title {
  font-family: inherit;
  font-size: 40px;
}

.open-account-container p {
  width: 30vw;
  color: #777777;
  font-family: inherit;
  font-size: 18px;
}

.open-account-title {
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
}

.line3 {
  width: 120px;
  height: 0px;
  background: transparent url("/assets/images/Line 3.svg") 0% 0% no-repeat
    padding-box;
  border: 2px solid #707070;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn-container {
  margin-top: 5rem;
}

.btn {
  border-radius: 10px;
  color: white;
  padding: 10px 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  color: #663399;
  font-weight: bold;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #663399;
  color: #fff;
}
